.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    background-color: grey;
}

.login-section h1 {
    color:white;
    margin-bottom: 60px;
}
.login-section p {
    color:white;
    
}

.login-form-wrapper{
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    width:50%;
    border-radius: 20px;
    margin-top: 20px;
    max-width: 600px;
}


.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    
    
}

#login-input {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login {
    padding: 7px;
    margin-bottom: 20px;
    width: 100px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #fa1653bd, #ac05fa6e);
    border: none;
    color:white;

    &:hover{
        background-color: red;
        color:white;
        cursor: pointer;
    }
}